.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;

    select {
        width: 100%;
        // background-color: aquamarine;
        border: 2px #d9dade solid;
        padding: 12px 12px;
        font-size: medium;
        font-weight: bold;
        color: var(--color-primary);
        border-radius: .5rem;
        margin-bottom: .75rem;
        appearance: none;
        background-image: url('../../../../public/assets/icons/down-arrow.png');
        background-size: 1.3rem;
        background-position: 96% .85rem;
        background-repeat: no-repeat;
    }
}