.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.297);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .modal {
        background-color: white;
        padding: 2rem;
        border-radius: 2%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
        width: 90%;
        max-width: 80rem;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            h1 {
                color: #042849;
                font-size: 2.1rem;
            }

            .body {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1120px) {
    .wrapper {
        align-items: flex-start;
        background-color: white;
        overflow-y: scroll;

        .modal {
            width: 100%;
            max-width: 100%;
            border-radius: 0;
            box-shadow: none;
            padding: 1rem;
        }
    }
}